/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.wrapper-picture {
  color: white;
  text-align: center;
  height: 100vh;
  // height: calc(100vh - 70px);
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  .btn-special{
    background: transparent;
    text-decoration: none;
  }
}

.wrapper-how-works {
  color: white;
  text-align: center;
  background: #415c6b;
}

.home-link {
  color: white;
  &:hover {
    text-decoration: none;
    color: white;
    opacity: 0.8;
  }
}

.email-link {
  color: white;
  font-size: 24px;
  font-weight: normal;
  &:hover {
    text-decoration: none;
    opacity: 0.8;
    color: $primary-color;
  }
}

.logo-big {
  height: 180px;
  width: auto;
}

.margin-less {
  margin-top: 0px;
}