/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.wrapper-picture {
  color: white;
  text-align: center;
  height: 100vh;
  // height: calc(100vh - 70px);
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  .btn-special{
    background: transparent;
    text-decoration: none;
  }
}

#home_page_parallax{
 background-image: linear-gradient(-225deg, rgba(0,101,168,0.4) 0%, rgba(0,36,61,0.4) 50%)
}


.wrapper-how-works {
  color: white;
  text-align: center;
  background: #415c6b;
}

.home-link {
  color: $secondary-color-dark;
  &:hover {
    text-decoration: none;
    color: $secondary-color-darker;
    opacity: 0.8;
  }
}

.email-link {
  color: white;
  font-size: 24px;
  font-weight: normal;
  &:hover {
    text-decoration: none;
    opacity: 0.8;
    color: $primary-color;
  }
}

.logo-big {
  height: 180px;
  width: auto;
}

.margin-less {
  margin-top: 0px;
}
