.traits-select{
  text-align: center;
  .btn{
    margin: 5px;
  }
}

#new_user_trait .btn-special{
    margin-top: 20px;
    margin-right: 30px;
  }

h4 p {
  padding-top: 14px;
  color: $secondary-color-darker;
  font-size: 16px;
  line-height: 20px;
  font-weight: lighter;
  margin-bottom: 0px;
}
