<h1>Please select the traits that are applicable to you:</h1>
<% @traits.each do |trait| %>
  <%= trait.name %>
<%end %>

<h2>Form method:</h2>
<%= simple_form_for @user_trait do |f| %>
  <%= collection_check_boxes(:user, :traits, @traits, :id, :name) %>
  <%= f.submit %>
<% end %>

