<div class="hidden alert alert-warning alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>Please select at least two!</div>


<div class="center-flex">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h4 class="page-header">What gets you going, buddy?
          <p>We will use this information to personalize our suggestions for you</p>
        </h4>
        <%= render 'shared/traits_form' %>
      </div>
    </div>
  </div>
</div>
