<div class="wrapper">
<div class="container" id="footer">
  <div class="row">
      <div class="col-xs-6">
      <%= link_to "Home", root_path %>  | <%= link_to "Privacy Policy", pages_privacy_path %>
      </div>
      <div class="col-xs-6">
        <p class="muted pull-right C">© 2016 Scout All rights reserved</p>
      </div>
    </div>
  </div>
</div>
</div>
