<div id="signup" class="modal">
  <%= render 'devise/registrations/new-modal.html.erb' %>
</div>

<div id="login" class="modal">
  <%= render 'devise/sessions/new-modal.html.erb' %>
</div>

<div id="forgot" class="modal">
  <%= render 'devise/passwords/new-modal.html.erb' %>
</div>
