<div class="container">
  <h1><%= t('offer.heading') %></h1>
  <div class="row">
    <% @offers.each do |offer| %>
    <div class="col-xs-12 col-sm-4">
     <div>
       <div class="offer">
        <h2><%= offer.deal.name %></h2>
        <p><%= offer.deal.discount %></p>
        <div class="offer-actions hidden">
         <i class="fa fa-heart" aria-hidden="true"></i>
         <i class="fa fa-trash" aria-hidden="true"></i>
         <i class="fa fa-external-link" aria-hidden="true"></i>
       </div>
     </div>
   </div>
 </div>
 <% end %>
</div>
</div>

