<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<p>Create user characteristics: <%= link_to "Here", traits_path(current_user) %> </p>
<p>See my deals: <%= link_to "Here", users_deals_path(current_user) %> </p>
