<div class= "container">
  <div class= "row">
    <div class= "col-sm-4">
      <h1><%= t('home.heading') %></h1>
      <p><%= t('home.tagline') %></p>
    </div>
    <div class= "col-sm-4">
      <%= render template: 'devise/registrations/new' %>
    </div>
    <div class= "col-sm-4">
      <h3><%= t('home.alternative') %></h3>
    </div>
  </div>
</div>
