/* Main class */
.fixed-action-btn{
position:absolute;
right: 50px;
top: 50px;
}

.navbar {
  height: 100px;
  position: relative;
}

/* Navbar logo */
.navbar-brand img {
  position:absolute;
  left: 40px;
  top: 40px;
  font-size: 40px;
  max-width: 100px;
}
