// 1. Navbar primary selector
.navbar {
  height: 0;
  position: relative;
  min-height: 0;
  margin-bottom: 0;
  border: none;
}

// 2. Fix logo and action items in the corners

.fixed-action-btn, .login-call{
position:absolute;
right: 50px;
top: 50px;
z-index: 2;
}

#home-nav .login-call{
  color: white;
}

.brand-name {
  position:absolute;
  left: 40px;
  top: 40px;
  font-size: 30px;
  max-width: 100px;
  color: white;
  &:hover {
    color: $secondary-color;
  }
}

.navbar-brand img {
  position:absolute;
  left: 40px;
  top: 40px;
  font-size: 40px;
  max-width: 100px;
}

.navbar-brand {
  padding: 0px;
  z-index: 2;
}
