<div class="container padded text-center">
  <div class="row">
      <h3>Houston... We have a problem</h3>
      <p>Our computers have encountered a problem</p>
      <br>
      <%= link_to "Go Home", root_path, { class: 'btn btn-primary' } %>
  </div>
</div>
