  <div>
    <ul class="list-inline">

        <li><i class='fa fa-heart small-tooltip' aria-hidden='true', title= "like", url="<%= offer_path(offer,liked?: offer.liked? ) %>"></i></li>
        <li><%= link_to '<i class="fa fa-share-alt" aria-hidden="true"></i>'.html_safe, "#", class: " small-tooltip", title: "share"%></li>
        <li><%= link_to '<i class="fa fa-thumbs-down" aria-hidden="true"></i>'.html_safe, offer_path(offer, :disliked? => true ), method: :patch, class: " small-tooltip", title: "remove" %></li>
    </ul>
  </div>
  <div>
 </div>
