<div class="center-flex offers">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h4 class="page-header">Here you go bud, your best matched deals</h4>
      </div>
    </div>
  </div>
  <%= render "offers/offers" %>
</div>
