<div class="center-flex">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h4 class="page-header">here you go bud, your 6 best matched deals</h4>
      </div>
    </div>
  </div>

  <%= render "offers/offers" %>
</div>
