/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  position: absolute;
  top: 0px; 
  left: 0px; 
  width: 100%;
  text-align: center;
  color: $secondary-color;
  border: none;
}
.alert-info {
  background: transparent;
}
.alert-warning {
  background: transparent;
}
