.btn:hover{
  color: $primary-color;
}

.btn-special{
  color: $secondary-color;
  background-color: white;
  font-weight: lighter;
  border: none;
  font-size: 40px;
  padding: 5px;
  text-transform: uppercase;
  &:hover{
    color: $primary-color;
  }
}

.btn-special-sm{
  font-size: 16px;
}

.btn-active{
  background-color: $primary-color;
  color: white;
  &:hover{
    color:white;
  }
}

.btn-facebook {
  padding: 20px;
  background-color: #3B539A;
  font-size: 20px;
  color: white;
  border-radius: 5px;
  &:hover{
      opacity: 0.9;
  color: white;
  text-decoration: none;
  }
}

