.btn:hover{
  color: $primary-color;
  background-color: transparent;
}

.btn-special{
  color: $primary-color;
  background-color: transparent;
  font-weight: lighter;
  border: none;
  font-size: 40px;
  padding: 5px;
  text-transform: uppercase;
  transition: all .2s ease-in-out;
  &:hover{
    transform: scale(1.2, 1.1);
  }
}

.btn-special-sm{
  font-size: 16px;
}

.btn-active{
  background-color: $primary-color;
  color: white;
  &:hover{
    color: $secondary-color;
    background-color: rgba(171, 243, 49, 0.3);
  }
}

.btn-login {
  font-size: 20px;
  width: 250px;
}

.btn-facebook {
  padding: 11px;
  background-color: #3B539A;
  font-size: 20px;
  color: white;
  border-radius: 5px;
  &:hover{
    opacity: 0.9;
    color: white;
    text-decoration: none;
  }
}

.btn-facebook-small{
  padding: 5px;
  font-size: 14px;
}

.btn-calltwo {
  padding: 20px;
  background-color: #8698A0;
  // opacity: 0.6;
  font-size: 20px;
  color: white;
  border-radius: 5px;
  &:hover{
    opacity: 0.9;
    color: white;
    text-decoration: none;
  }
}

.btn-fixed {
  background-color: $primary-color;
  position: absolute;
  bottom: 25px;
  left: 25px;
  right: 25px;
  max-width: 235px;
  color: white;
  &:hover{
    color: white;
    opacity: 0.8;
  }
}
